:root {
  --primary-color: #E4F9F5;
  --text-color: #66BFBF;
  --social-color: invert(97%) sepia(17%) saturate(4786%) hue-rotate(149deg) brightness(89%) contrast(64%);
  --secondary-color: #FFFFFF;
  --border-color: #FFFFFF;
  --p-text-color: #40514E;
  --input-color: gray;
  --hover-color: #769FCD;
  --button-hover: invert(72%) sepia(10%) saturate(1651%) hue-rotate(175deg) brightness(84%) contrast(90%);
}

/* DARK THEME */
#icons, #icon {
  cursor: pointer;
}

.dark-theme {
  --primary-color: #1A1A1A;
  --primary-color: #191919;
  --text-color: #276880;
  --social-color: invert(34%) sepia(69%) saturate(464%) hue-rotate(150deg) brightness(86%) contrast(86%);
  --secondary-color: #121212;
  --border-color: #276880;
  --p-text-color: #FFFFFF;
  --input-color: #276880;
  --hover-color: #FFFFFF;
  --button-hover: brightness(0) invert(1);
}

.toggle-off {
  filter: var(--social-color);
}

.toggleOff {
  transform: rotate(180deg);
}

.toggleOn {
  transform: rotate(180deg);
}

body {
  color: var(--p-text-color);
  font-family: 'Lato', sans-serif;
  margin: 0;
  text-align: center;
}

.hamburger-menu {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  box-shadow: 0px 4px 10px rgb(0 0 0 / 0.5);
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
}

.hamburger-img {
  border: 1px solid var(--text-color);
  background-color: var(--primary-color);
  cursor: pointer;
  margin-right: 40px;
  padding: 4px;
  z-index: 100;
}

#close {
  display: none;
}

.menuItem {
  display: block;
  margin: 2rem 4rem;
  font-size: 1.8rem;
  color: var(--text-color);
  text-decoration: none;
}

.menuItem:hover {
  color: darkgray;
}

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: var(--primary-color);
  list-style: none;
  padding-top: 4rem;
}

.menuIcon, .closeIcon {
  filter: var(--social-color);
}

ul {
  margin-top: 0;
}

.showMenu {
  transform: translateY(0);
}

nav {
  display: none;
}

/* HOME SECTION */

.top-container {
  background-blend-mode: luminosity;
  background-color: var(--primary-color);
  background-image: url(images/IMG-20191127-WA0025.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  height: 485px;
  padding: 70px 0;
}

.container {
  margin: auto;
}

.top-container h1 {
  animation-name: backInDown;
  animation-duration: 1s;
  color: var(--text-color);
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
  margin: 30px auto 0 auto;
}

.top-container h2 {
  animation-name: backInTop;
  animation-duration: 1s;
  color: var(--text-color);
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: bolder;
  /* letter-spacing: 2px; */
  margin-top: 0;
}

@keyframes backInDown {

  0% {
    transform: translateY(-1200px) scale(.7);
    opacity: .7;
  }

  80% {
    transform: translateY(0px) scale(.7);
    opacity: .7;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes backInTop {
  0% {
    transform: translateY(1200px) scale(.7);
    opacity: .7;
  }

  80% {
    transform: translateY(0px) scale(.7);
    opacity: .7;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* END OF HOME SECTION */

/* ABOUT SECTION */

.middle-container {
  padding: 50px 0 100px;
  background-color: var(--secondary-color);
}

.profile {
  animation-name: slideInLeft;
  animation-duration: 5s;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgb(146 161 176 / 0.5);
  margin: auto;
  padding: 25px 10px 50px;
  width: 90vw;

}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(1) translateX(-100%);
  }

  50% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) rotate(0deg) scale(1);
  }
}

.profile h1,
.skills h1,
.projects h1,
.contact-me h1 {
  color: var(--text-color);
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  margin: 11px 0;
  text-decoration: underline;
}

.about {
  display: flex;
  flex-direction: column-reverse;
}

.profile h2 {
  color: var(--text-color);
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: bolder;
  /* letter-spacing: 1px; */
  margin-top: 0;
  /* padding-bottom: 20px; */
}

.profile p {
  font-size: 1rem;
  margin: auto;
  text-align: justify;
}

.profile img {
  width: 250px;
  height: 250px;
  margin: auto;
}

/* END OF ABOUT SECTION */

/* SKILLS SECTION */

.skills {
  border: 2px solid var(--border-color);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgb(146 161 176 / 0.5);
  margin: 50px auto;
  padding: 30px 10px 0;
  width: 90vw;
}

.skills h3 {
  color: var(--text-color);
  font-family: 'Montserrat', sans-serif;
  /* letter-spacing: 2px; */
}

.skills p {
  font-size: 1rem;
  text-align: center;
}

.skill-row {
  border: 2px solid var(--border-color);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgb(146 161 176 / 0.5);
  margin: 50px auto;
  padding: 0 0 30px;
  transition: 0.5s ease-in-out;
  width: 89vw;
}

.skill-row:hover {
  width: 90vw;
}

.skill-img {
  margin: 50px auto 0;
  width: 50%;
}

.my-skill {
  margin: 50px auto 0;
  width: 50%;
}

/* END OF SKILLS SECTION */

p {
  line-height: 2;
  /* letter-spacing: 1px; */
}

/* PROJECTS SECTION */

.projects {
  border: 2px solid var(--border-color);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgb(146 161 176 / 0.5);
  margin: 50px auto;
  padding: 0 10px 30px;
  width: 90vw;
}

#project-img {
  padding-bottom: 30px;
}

.huddle {
  border: 2px solid var(--border-color);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgb(146 161 176 / 0.5);
  margin: 20px auto 20px;
  transition: 0.5s ease-in-out;
  width: 89vw;
}

.huddle:hover {
  width: 90vw;
  opacity: 0.5;
}

.code-link {
  color: var(--text-color);
  font-size: 1rem;
  text-decoration: underline;
}

.code-link:hover {
  color: var(--hover-color);
}

/* END OF PROJECTS SECTION */

/* CONTACT SECTION */

.contact-me {
  border: 2px solid var(--border-color);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgb(146 161 176 / 0.5);
  margin: 50px auto 100px;
  padding: 30px 10px 50px;
  width: 90vw;
}

.contact-me h3 {
  color: /*#11999E*/ var(--text-color);
  font-family: 'Montserrat', sans-serif;
  /* letter-spacing: 1px; */
}

.contact-me p {
  font-size: 1rem;
  padding-bottom: 30px;
  text-align: center;
}

.input-field {
  display: flex;
  flex-direction: column;
}

input {
  background-color: var(--secondary-color);
  border: 1px solid var(--input-color);
  border-radius: 5px;
  color: var(--p-text-color);
  font-family: 'Montserrat', sans-serif;
  padding: 10px 5px;
  margin: auto auto 20px;
  width: 85vw;
}

textarea {
  background-color: var(--secondary-color);
  border: 1px solid var(--input-color);
  border-radius: 5px;
  color: var(--p-text-color);
  font-family: 'Montserrat', sans-serif;
  height: 150px;
  padding: 10px 5px;
  margin: auto auto 30px;
  resize: none;
  text-align: justify;
  width: 85vw;
}

input::placeholder, textarea::placeholder {
  color: var(--p-text-color);
}

.btn {
  background-color: var(--text-color);
  border-radius: 8px;
  color: var(--secondary-color);
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  padding: 10px 20px;
  margin-bottom: 30px;
  text-decoration: none;
}

.btn:hover {
  background-color: var(--hover-color);
  text-decoration: none;
}

/* END OF CONTACT SECTION */

/* FOOTER SECTION */
footer {
  background-color: var(--primary-color);
  padding-bottom: 10px;
}

.footer-link {
  filter: var(--social-color);
}

.footer-link:hover {
  filter: var(--button-hover);
}

.github-img,
.linkedin-img,
.twitter-img,
.instagram-img {
  padding: 15px 10px 0 0;
  margin: auto;
  width: 6%;
}

.copyright {
  color: var(--text-color);
  font-family: 'Montserrat', sans-serif;
  font-size: 0.5rem;
  font-weight: bolder;
  padding-bottom: 20px;
}

/* END OF FOOTER */

@media only screen and (max-width: 550px) {
  .top-container {
    background-image: url(images/IMG-20191127-WA0023.jpg);
    background-position: right;
  }
}

@media only screen and (min-width: 700px) {
  .toggle-off:hover {
    filter: var(--button-hover);
  }

  .hamburger {
    display: none;
  }

  nav {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
    position: fixed;
    width: 100%;
    box-shadow: 0 4px 10px rgb(146 161 176 / 0.5);
  }

  .nav-links {
    display: flex;
  }

  nav a {
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
  }

  nav a:hover {
    color: var(--hover-color);
  }

  .profile,
  .skills {
    padding: 10px;
    width: 92vw;
  }

  .about {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .profile h1,
  .skills h1,
  .projects h1,
  .contact-me h1 {
    font-size: 2.5rem;
  }

  .profile h2 {
    font-size: 2.25rem;
    margin-bottom: 0;
  }

  .profile p {
    font-size: 1.25rem;
    text-align: justify;
  }

  .profile img {
    height: 300px;
    padding-left: 50px;
    width: 300px;
  }

  /* END OF ABOUT SECTION */

  /* SKILLS SECTION */

  .skills-set {
    display: flex;
    justify-content: space-between;
  }

  .skills h3 {
    font-size: 1.25rem;
  }

  .skills p {
    font-size: 1.15rem;
    padding: 0 10px;
    text-align: left;
  }

  .skill-row {
    padding: 0 10px 30px;
    transition: 1s ease-in-out;
    width: 40vw;
  }

  .skill-row:hover {
    width: 41vw;
  }

  /* PROJECTS SECTION */

  .projects {
    padding: 0 10px 30px;
    width: 92vw;
  }

  .projects-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #project-img {
    display: flex;
    flex-direction: column;
  }

  .huddle {
    margin: 30px auto;
    width: 44vw;
  }

  .huddle:hover {
    width: 45vw;
  }

  .code-link {
    font-size: 1.15rem;
  }

  /* END OF PROJECTS SECTION */

  /* CONTACT SECTION */

  .contact-me {
    padding: 30px 10px 50px;
    width: 92vw;
  }

  .contacts {
    display: flex;
    flex-direction: column;
  }

  .contact-me h3 {
    font-size: 1.25rem;
  }

  .contact-me p {
    font-size: 1.25rem;
  }

  .input-field {
    display: flex;
    flex-direction: column;
  }

  input {
    width: 90vw;
  }

  textarea {
    height: 200px;
    width: 90vw;
  }

  .btn {
    margin: 0 auto 30px;
    width: 30%;
  }
}

@media only screen and (min-width: 1000px) {
  .top-container {
    height: 800px;
  }

  .top-container h1 {
    font-size: 7rem;
  }

  .top-container h2 {
    font-size: 3rem;
  }

  /* END OF HOME SECTION */

  /* ABOUT SECTION */

  .middle-container {
    padding: 100px 0 100px;
  }

  .about {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .profile h1,
  .skills h1,
  .projects h1,
  .contact-me h1 {
    font-size: 3rem;
  }

  .profile h2 {
    font-size: 2.5rem;
    margin-bottom: 0;
  }

  .profile p {
    font-size: 1.5rem;
    text-align: justify;
  }

  .profile img {
    height: 400px;
    width: 350px;
  }

  /* END OF ABOUT SECTION */

  /* SKILLS SECTION */

  .skills-set {
    display: flex;
    justify-content: space-between;
  }

  .skills h3 {
    font-size: 1.5rem;
  }

  .skills p {
    font-size: 1.25rem;
  }

  /* END OF SKILLS SECTION */

  /* PROJECTS SECTION */

  .code-link {
    font-size: 1.5rem;
  }

  /* END OF PROJECTS SECTION */

  /* CONTACT SECTION */

  .contact-me h3 {
    font-size: 1.5rem;
  }

  .contact-me p {
    font-size: 1.5rem;
  }

  .input-field {
    display: flex;
    flex-direction: column;
  }

  textarea {
    height: 300px;
  }

  /* END OF CONTACT SECTION */

  /* FOOTER SECTION */
  footer {
    padding-bottom: 10px;
  }

  .github-img,
  .linkedin-img,
  .twitter-img,
  .instagram-img {
    padding: 30px 10px 0 0;
    width: 3%;
  }

  .copyright {
    font-size: 1rem;
  }

  /* END OF FOOTER */
}

@media only screen and (min-width: 1400px) {
  nav a {
    font-size: 1.25rem;
  }

  .top-container h1 {
    font-size: 9rem;
  }

  .top-container h2 {
    font-size: 5rem;
  }

  /* END OF HOME SECTION */

  /* ABOUT SECTION */

  .middle-container {
    padding: 150px 0 150px;
  }

  .profile,
  .skills,
  .projects,
  .contact-me {
    margin-top: 100px;
  }

  .profile h1,
  .skills h1,
  .projects h1,
  .contact-me h1 {
    font-size: 5rem;
  }

  .profile h2 {
    font-size: 3.5rem;
  }

  .profile p {
    font-size: 2.5rem;
  }

  .profile img {
    height: revert;
    width: revert;
  }

  /* END OF ABOUT SECTION */

  /* SKILLS SECTION */

  .skills h3 {
    font-size: 2.5rem;
  }

  .skills p {
    font-size: 2.25rem;
  }

  /* END OF SKILLS SECTION */

  /* PROJECTS SECTION */

  .code-link {
    font-size: 2.5rem;
  }

  /* END OF PROJECTS SECTION */

  /* CONTACT SECTION */

  .contact-me h3 {
    font-size: 2.5rem;
  }

  .contact-me p {
    font-size: 2.5rem;
  }

  input {
    height: 2vw;
  }

  /* END OF CONTACT SECTION */

  /* FOOTER SECTION */

  footer {
    padding-bottom: 10px;
  }

  .github-img,
  .linkedin-img,
  .twitter-img,
  .instagram-img {
    padding: 30px 10px 0 0;
    width: 4%;
  }

  .copyright {
    font-size: 1rem;
  }

  /* END OF FOOTER */
}

@media only screen and (min-width: 2000px) {
  .top-container {
    height: 1600px;
  }

  nav img {
    width: 2.5vw;
    margin: 10px 40px;
    padding: 30px 0;
  }

  nav a {
    font-size: 2.25rem;
    margin: 10px 40px;
    padding: 30px 0;
  }

  .top-container h1 {
    font-size: 15rem;
  }

  .top-container h2 {
    font-size: 6rem;
  }

  /* END OF HOME SECTION */

  /* ABOUT SECTION */

  .profile,
  .skills,
  .projects,
  .contact-me {
    margin-top: 150px;
    padding: 50px;
  }

  .profile h1,
  .skills h1,
  .projects h1,
  .contact-me h1 {
    font-size: 7rem;
  }

  .profile h2 {
    font-size: 5.5rem;
  }

  .profile p {
    font-size: 4.5rem;
  }

  .profile img {
    height: 800px;
    width: 800px;
  }

  /* END OF ABOUT SECTION */

  /* SKILLS SECTION */

  .skills h3 {
    font-size: 4.5rem;
  }

  .skills p {
    font-size: 3.5rem;
    padding: 0 20px;
  }

  /* END OF SKILLS SECTION */

  /* PROJECTS SECTION */

  .code-link {
    font-size: 4.5rem;
  }

  /* END OF PROJECTS SECTION */

  /* CONTACT SECTION */

  .contact-me h3 {
    font-size: 4.5rem;
  }

  .contact-me p {
    font-size: 4rem;
  }

  input {
    font-size: 3rem;
    height: 4vw;
  }

  textarea {
    font-size: 3rem;
    height: 25vw;
  }

  .btn {
    font-size: 2rem;
    padding: 20px 40px;
    width: 20%;
  }

  /* END OF CONTACT SECTION */

  /* FOOTER SECTION */

  footer {
    padding-bottom: 10px;
  }

  .github-img,
  .linkedin-img,
  .twitter-img,
  .instagram-img {
    padding: 30px 50px 0 0;
    width: 4%;
  }

  .copyright {
    font-size: 2.5rem;
  }

  /* END OF FOOTER */
}